.mediumProTable
  padding: 0px 8px
  height: 100%
.selectStyleCell
  align-items: center
  display: flex
  justify-content: center

.optionImageLeftWrap
  background: #0D0D0D
  border-radius: 1px
  text-align: center
  border-radius: 10px
  margin: 0px 5px 0px 0px

.optionImageLeft
  height: 168px
  background: #000000
  border-radius: 10px 10px 0px 0px
  position: relative
  overflow: hidden
  overflow-y: hidden
  display: flex
  justify-content: center
  align-items: center
.drawingLoading
  height: 168px
  width: 154px
  resize: none
  display: flex
  overflow: auto
  border-radius: 6px
  padding: 4px 11px
  align-items: center
  justify-content: center
  background: #92928d

.imageBadge
  height: 90px
  width: 90px
  border-radius: 10px
  border: 1px solid #181A1B
  position: relative
  background: #000000
  text-align: center
  overflow: hidden
  overflow-y: hidden
  display: flex
  justify-content: center
  align-items: center

.homePage
  display: flex
  align-items: flex-start
  justify-content: space-between
  height: 100%
  overflow: hidden
.homePageLeft
  width: 220px
  flex-shrink: 0
  padding-top: 89px
  background: #1D1D1F
  margin-top: 30px
  height: 40%
  padding-bottom: 300px
  border-radius: 0 10px 10px 0
  ul
    background: #1D1D1F
    li
      background: #24262E!important
  .ant-menu-item
    color: rgba(255,255,255,0.9)
    font-weight: bold
    // font-size: 16px
.homePageRight
  flex: 1
  height: 100%
  overflow: hidden
  padding: 30px
  .ant-spin-nested-loading
    height: calc(100% - 140px)
  .ant-spin-container
    height: 100%
.createBlock
  height: 120px
  width: 100%
  background: linear-gradient(130.12deg, rgba(87,72,176,1) -19.53%,rgba(87,72,173,0.97) -19.53%,rgba(87,72,72,0) 100%)
  border-radius: 8px
  color: white
  font-size: 20px
  cursor: pointer
  margin-bottom: 20px
.draftCreate
  width: 166px
  height: 143px
  border-radius: 12px
  background-color: rgba(27,27,27,1)
  border: 1px dashed rgba(178,181,195,0.4)
  cursor: pointer
  font-weight: bold
  &:hover
    border-color: #4d4099
  .plusIcon
    width: 16px
    height: 16px
    color: #101010
    background-color: rgba(255,255,255,0.9)
    border-radius: 2px
    margin-bottom: 8px
.listContent
  height: calc(100% - 260px)
  padding-bottom: 0
  .ant-tabs-content-holder
    overflow: auto
    margin-bottom: 30px
    margin-top: 15px
  .tabList
    overflow: auto
.listPagination
  width: 100%
  display: flex
  justify-content: flex-end
.draftDetailCover
  background: #171717
  height: 95px
  width: 166px
  border-radius: 10px
  border: 1px solid #181A1B
  position: relative
  text-align: center
  overflow: hidden
  overflow-y: hidden
  display: flex
  justify-content: center
  align-items: center
  border-top-left-radius: 2px
  background: #666666

.plusIconWrap
  width: 30px
  height: 30px
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(255,255,255,0.9)
  border-radius: 5px
  color: rgba(87,72,173,1)
  margin-right: 10px
  

.detailContent
  flex: 1
  overflow: hidden


.detailWrap
  height: calc(100% - 40px)
  position: relative
  width: 100%
  display: flex
  flex-direction: column
.detailBar
  background-color: rgba(29,29,31,1)
  .ant-segmented-thumb
    border: 1px solid #07060a
  .ant-segmented-item
    border: 1px solid transparent
    color: #B2B5C3
  .ant-segmented-item-selected
    border: 1px solid #7256E4
    svg
      color: rgba(114,86,228,1)

.segmentation
  width: 100%

.composeModal
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 400px
  height: 400px
