.top-bar
  height: 40px
  width: 100%
  align-items: center
  position: fixed
  display: flex
  justify-content: space-between
  z-index: 1000

.topbar-left
  flex: 1
  display: flex
  justify-content: space-between
  align-items: center

.windowIcon
  width: 120px
  display: flex
  justify-content: flex-end
  padding-right: 8px