.editTextArea
  border-radius: 6px
  cursor: text
  padding: 3px
.editTextAreaContent
  overflow: auto
  padding: 5px 11px
.editTextAreaLabel
  webkit-user-select: none
  border-radius: 6px
  padding: 3px 7px
  cursor: copy
  margin: 2px 3px 0px 0px
  display: inline-block
