.editText
  border-radius: 6px
  cursor: text
  padding: 16px
  width: 100%
.editTextAreaContent
  overflow: auto
.editTextAreaLabel
  webkit-user-select: none
  border-radius: 6px
  padding: 3px 7px
  cursor: copy
  margin: 2px 3px 0px 0px
  display: inline-block
